.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #393E46;
    margin-top: 200px;
    

}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    padding: 24px;
    margin: 32px;
}

.main-content h1{
    font-size: 48px;
    max-width: 500px;
}

.main-content img{
    max-width: 700px;
    
}

.main-texts{
    margin: 24px;
}

.main-texts h4{
    margin-top: 32px;
    font-size: 20px;
}

.main-texts button{
    width: 100%;
    max-width: 300px;
    margin-top: 48px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: #FF7B54;
    padding: 24px;
}

.button-email-logo{
    margin-right: 12px;
    
    font-size: 24px;
    color: white;
  
    

}

.wave-wrapper{
    fill: #e4e4e4;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
