.Testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.Testimonials .wave-wrapper{
    justify-self: flex-start;
}

.testimonials-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    margin: 84px;
    padding: 24px;

}

.testimonials-content h1{
    font-size: 54px;
    font-weight: 500;
    color: #393E46;
}

.testimonial-slider{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    height: 600px;
    
    margin: 64px;
   
    max-width: 1500px;

   
   
}

.testimonial{
    border: 1px solid #adadad;
    border-radius: 24px;
    max-width: 300px;
    height: 500px;
    
    display: flex !important;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
   

}


.testimonial-slider div{
    display: flex;
    align-items: center;
    justify-content: center;
}


.slick-track{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-slider img{
    width: 400px;
}

.slick-dots li button:before{
   
    font-size: 18px;
    
    

   
   
    
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 50px;
   
}


.slick-dots .slick-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0 auto;
    
   
}

.testimonial-slider ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

